
.color-primary {
  --hakina-theme-color-base: var(--dusk-color-azure);
  --hakina-theme-color-text: var(--dusk-color-offwhite);
  --hakina-theme-color-line: var(--dusk-color-ice);
  --hakina-theme-color-hover-base: var(--dusk-color-indigo);
  --hakina-theme-color-hover-text: var(--dusk-color-white);
  --hakina-theme-color-hover-line: var(--dusk-color-offwhite);
}

.color-secondary {


}

.color-neutral {


}

.color-danger {


}

.color-warning {


}

.color-info {


}

.color-success {


}





