body {
  --clinic-color-blue-1: #E7F1FF;
  --clinic-color-blue-2: #537AE3;
  --clinic-color-blue-3: #0F3689;
  --clinic-color-blue-4: #0C2B6E;
  --clinic-color-blue-5: #26282C;

  --clinic-color-red-2: #ff2929;
  --clinic-color-red-3: #D00000;
  --clinic-color-red-4: #880000;

  --clinic-color-yellow-2: #ffb759;
  --clinic-color-yellow-3: #F48C06;
  --clinic-color-yellow-4: #aa6100;

  --clinic-color-green-2: #6ae44e;
  --clinic-color-green-3: #37BC2F;
  --clinic-color-green-4: #0c8206;
  
  --clinic-color-white-1: #FFFFFF;
  --clinic-color-white-2: #FCFDFD;
  --clinic-color-white-3: #F8F9FA;

  --clinic-color-silver-2: #EFEFF1;
  --clinic-color-silver-3: #DFE2E5;
  --clinic-color-silver-4: #BFC5CC;

  --clinic-color-grey-2: #D2D4DA;
  --clinic-color-grey-3: #A9AAAB;
  --clinic-color-grey-4: #77787A;

  --clinic-color-black-3: #393B3E;
  --clinic-color-black-4: #1C1E21;
  --clinic-color-black-5: #000000;



/* 
  --clinic-color-black: #26282C;
  --clinic-color-gray: #A9AAAB; 
  --clinic-color-silver: #D2D4DA;

  --clinic-text-black: #1C1E21;
  --clinic-text-slate: #393B3E;
  --clinic-text-gray: #77787A;
  --clinic-text-silver: #A9AAAB;

  --clinic-line-b: #BFC5CC;
  --clinic-line-d: #DFE2E5;
  --clinic-line-e: #EFEFF1;

  --clinic-background-base: #F8F9FA;
  --clinic-background-hover: #FCFDFD;
  --clinic-background-higher: #FFFFFF; */

  
  
  



  

  /* --clinic-outline: 2px dotted #D00000; */



  /* --prism-body-background: var(--clinic-background-base); */
  /* --prism-body-background: #ff0000; */

  /*
  --prism-card-radius: 8px;
  --prism-card-line: 1px solid var(--clinic-line-default);
  --prism-card-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
  --prism-card-background: var(--clinic-background-higher);
  */





  /* --dusk-color-black: #080808;
  --dusk-color-mist: #012;
  --dusk-color-indigo: #023;
  --dusk-color-azure: #157;
  --dusk-color-cerulean: #168;
  --dusk-color-ice: #49A; */

  /* --dusk-color-amber: #b61;
  --dusk-color-yellow: #ca1;
  --dusk-color-offwhite: #9CD;
  --dusk-color-white: #eee; */

  --clinic-font-header: "Helvetica Neue", sans-serif;
  --clinic-font-body: "Helvetica Neue", sans-serif;
  --clinic-font-mono: "Fira Mono", monospace;
  
  --clinic-font-heading-1: normal 700 40px/48px var(--clinic-font-header);
  --clinic-font-heading-2: normal 700 32px/30px var(--clinic-font-header);
  --clinic-font-heading-3: normal 700 24px/32px var(--clinic-font-header);
  --clinic-font-heading-4: normal 700 20px/24px var(--clinic-font-header);
  --clinic-font-subheader-regular: normal 400 20px/24px var(--clinic-font-header);
  --clinic-font-subheader-medium: normal 500 20px/24px var(--clinic-font-header);
  --clinic-font-body-regular: normal 400 16px/24px var(--clinic-font-body);
  --clinic-font-body-medium: normal 500 16px/24px var(--clinic-font-body);
  --clinic-font-body-bold: normal 700 16px/24px var(--clinic-font-body);
  --clinic-font-small-regular: normal 400 14px/20px var(--clinic-font-body);
  --clinic-font-small-medium: normal 500 14px/20px var(--clinic-font-body);
  --clinic-font-small-bold: normal 700 14px/20px var(--clinic-font-body);
  --clinic-font-caption-regular: normal 400 12px/14px var(--clinic-font-body);
  --clinic-font-tiny-regular: normal 400 10px/14px var(--clinic-font-body);
  
  /* ===== UTILS ========================= */

  /* --prism-background-lowest: var(--dusk-color-black);
  --prism-background-lower: var(--dusk-color-mist);
  --prism-background-low: var(--dusk-color-indigo);
  --prism-background-middle: var(--dusk-color-indigo);
  --prism-background-high: var(--dusk-color-indigo);
  --prism-background-higher: var(--dusk-color-indigo);
  --prism-background-highest: var(--dusk-color-indigo);

  --prism-line-high: var(--dusk-color-azure);

  --prism-foreground-low: var(--dusk-color-ice);
  --prism-foreground-middle: var(--dusk-color-ice);
  --prism-foreground-high: var(--dusk-color-white); */



  /* ===== BODY ========================= */

  --prism-body-background: var(--clinic-background-base);
  --prism-body-font: var(--clinic-font-body-regular);
  --prism-body-color: var(--clinic-color-black-4);

  --prism-font-header: var(--clinic-font-header);
  --prism-font-body: var(--clinic-font-body);
  --prism-font-mono: var(--clinic-font-mono);


  /* ===== COMPOSITION ========================= */

  --prism-padding-smallest: 4px;
  --prism-padding-smaller: 8px;
  --prism-padding-small: 12px;
  --prism-padding-medium: 16px;
  --prism-padding-large: 24px;
  --prism-padding-larger: 32px;
  --prism-padding-largest: 40px;


  /* ===== STATIC ========================= */

  --prism-divider-color: var(--clinic-color-grey-4);

  --prism-label-font: var(--clinic-font-caption-regular);
  --prism-label-color: var(--clinic-color-blue-3);
  --prism-label-background: var(--clinic-color-blue-1);
  --prism-label-radius: 6px;
  --prism-label-padding: var(--prism-padding-smallest) var(--prism-padding-smaller);
  --prism-label-line-height: 20px;



  /* ===== ACTIONS ========================= */

  --prism-button-background: var(--clinic-color-blue-3);
  --prism-button-accent: var(--clinic-color-blue-3);
  --prism-button-text: var(--clinic-text-grey-3);
  --prism-button-outline: var(--clinic-color-blue-3);
  --prism-button-hover-background: var(--clinic-color-blue-4);
  --prism-button-hover-text: var(--clinic-color-grey-2);

  /* ===== INPUT ========================= */

  /* ===== PARTS ========================= */


  /* --- Feed --- */

  --prism-feed-color: var(--dusk-color-azure);
  --prism-feed-padding: 24px;

  /* --- Card --- */

  --prism-card-radius: 8px;
  --prism-card-line-color: var(--dusk-color-azure);
  --prism-card-line: 1px solid var(--prism-card-line-color);
  --prism-card-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
  --prism-card-background: var(--clinic-color-white-1);

  /* --- Menu --- */

  --prism-menu-background: var(--dusk-color-black);
  --prism-menu-group-background: var(--dusk-color-indigo);
  --prism-menu-group-border: var(--dusk-color-azure);
  --prism-menu-item-border: var(--dusk-color-cerulean);
  --prism-menu-title-color: var(--dusk-color-ice);
  --prism-menu-item-color: var(--dusk-color-ice);


  /* --- Demo --- */

  --prism-demo-code-background: var(--clinic-color-blue-5);
  --prism-demo-display-background: var(--clinic-color-silver-2);
  --prism-demo-border-color: var(--clinic-color-blue-2);




}
