body {

  --dusk-color-black: #080808;
  --dusk-color-mist: #012;
  --dusk-color-indigo: #023;
  --dusk-color-azure: #157;
  --dusk-color-cerulean: #168;
  --dusk-color-ice: #49A;

  --dusk-color-amber: #b61;
  --dusk-color-yellow: #ca1;
  --dusk-color-offwhite: #9CD;
  --dusk-color-white: #eee;

  --dusk-font-header: "Signika", sans-serif;
  --dusk-font-body: "Signika", sans-serif;
  --dusk-font-mono: "Fira Mono", monospace;

  


  /* ===== UTILS ========================= */

  /* --hakina-background-lowest: var(--dusk-color-black);
  --hakina-background-lower: var(--dusk-color-mist);
  --hakina-background-low: var(--dusk-color-indigo);
  --hakina-background-middle: var(--dusk-color-indigo);
  --hakina-background-high: var(--dusk-color-indigo);
  --hakina-background-higher: var(--dusk-color-indigo);
  --hakina-background-highest: var(--dusk-color-indigo);

  --hakina-line-high: var(--dusk-color-azure);

  --hakina-foreground-low: var(--dusk-color-ice);
  --hakina-foreground-middle: var(--dusk-color-ice);
  --hakina-foreground-high: var(--dusk-color-white); */



  /* ===== BODY ========================= */

  --hakina-body-background: var(--dusk-color-black);
  --hakina-body-color: var(--dusk-color-offwhite);

  --hakina-font-header: var(--dusk-font-header);
  --hakina-font-body: var(--dusk-font-body);
  --hakina-font-mono: var(--dusk-font-mono);

  /* ===== COMPOSITION ========================= */

  /* ===== STATIC ========================= */

  /* ===== ACTIONS ========================= */

  --hakina-button-background: var(--dusk-color-ice);
  --hakina-button-accent: var(--dusk-color-cerulean);
  --hakina-button-text: var(--dusk-color-offwhite);
  --hakina-button-outline: var(--dusk-color-ice);
  --hakina-button-hover-background: var(--dusk-color-cerulean);
  --hakina-button-hover-text: var(--dusk-color-white);

  /* ===== INPUT ========================= */

  /* ===== PARTS ========================= */


  /* --- Feed --- */

  --hakina-feed-color: var(--dusk-color-azure);
  --hakina-feed-padding: 24px;

  /* --- Card --- */

  --hakina-card-radius: 8px;
  --hakina-card-line-color: var(--dusk-color-azure);
  --hakina-card-line: 1px solid var(--hakina-card-line-color);
  --hakina-card-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
  --hakina-card-background: var(--dusk-color-indigo);

  /* --- Menu --- */

  --hakina-menu-background: var(--dusk-color-black);
  --hakina-menu-group-background: var(--dusk-color-indigo);
  --hakina-menu-group-border: var(--dusk-color-azure);
  --hakina-menu-item-border: var(--dusk-color-cerulean);
  --hakina-menu-title-color: var(--dusk-color-ice);
  --hakina-menu-item-color: var(--dusk-color-ice);


  /* --- Demo --- */

  --hakina-demo-background: var(--dusk-color-black);
  --hakina-demo-code-background: var(--dusk-color-mist);
  --hakina-demo-display-background: var(--dusk-color-black);
  --hakina-demo-border-color: var(--dusk-color-azure);


}

