

.colorLine {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.colorBox {
  width: 160px;
  height: 160px;

  padding: 6px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
  text-align: right;
  // vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.colorHex {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.75);
}

.colorBox.light {
  color: rgba(0, 0, 0, 0.85);

  .colorHex {
    color: rgba(0, 0, 0, 0.65);
  }
}