.card {
  border-radius: var(--prism-card-radius);
  border: var(--prism-card-line);
  box-shadow: var(--prism-card-shadow);
  background: var(--prism-card-background);
  align-self: stretch;
  // max-width: 100%;

  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {

}

