
.tall {
  height: 100%;
}

.wide {
  width: 100%;
}

.gapSmallest { gap: var(--prism-padding-smallest);}
.gapSmaller { gap: var(--prism-padding-smaller);}
.gapSmall { gap: var(--prism-padding-small);}
.gapMedium { gap: var(--prism-padding-medium);}
.gapLarge { gap: var(--prism-padding-large);}
.gapLarger { gap: var(--prism-padding-larger);}
.gapLargest { gap: var(--prism-padding-largest);}
.paddingLeftSmallest { padding-left: var(--prism-padding-smallest);}
.paddingLeftSmaller { padding-left: var(--prism-padding-smaller);}
.paddingLeftSmall { padding-left: var(--prism-padding-small);}
.paddingLeftMedium { padding-left: var(--prism-padding-medium);}
.paddingLeftLarge { padding-left: var(--prism-padding-large);}
.paddingLeftLarger { padding-left: var(--prism-padding-larger);}
.paddingLeftLargest { padding-left: var(--prism-padding-largest);}
.paddingRightSmallest { padding-right: var(--prism-padding-smallest);}
.paddingRightSmaller { padding-right: var(--prism-padding-smaller);}
.paddingRightSmall { padding-right: var(--prism-padding-small);}
.paddingRightMedium { padding-right: var(--prism-padding-medium);}
.paddingRightLarge { padding-right: var(--prism-padding-large);}
.paddingRightLarger { padding-right: var(--prism-padding-larger);}
.paddingRightLargest { padding-right: var(--prism-padding-largest);}
.paddingTopSmallest { padding-top: var(--prism-padding-smallest);}
.paddingTopSmaller { padding-top: var(--prism-padding-smaller);}
.paddingTopSmall { padding-top: var(--prism-padding-small);}
.paddingTopMedium { padding-top: var(--prism-padding-medium);}
.paddingTopLarge { padding-top: var(--prism-padding-large);}
.paddingTopLarger { padding-top: var(--prism-padding-larger);}
.paddingTopLargest { padding-top: var(--prism-padding-largest);}
.paddingBottomSmallest { padding-bottom: var(--prism-padding-smallest);}
.paddingBottomSmaller { padding-bottom: var(--prism-padding-smaller);}
.paddingBottomSmall { padding-bottom: var(--prism-padding-small);}
.paddingBottomMedium { padding-bottom: var(--prism-padding-medium);}
.paddingBottomLarge { padding-bottom: var(--prism-padding-large);}
.paddingBottomLarger { padding-bottom: var(--prism-padding-larger);}
.paddingBottomLargest { padding-bottom: var(--prism-padding-largest);}



