.hstack {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vstack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// .vstretch {
//   min-height: 100%;
// }

// .mstack {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .zstack {
//   display: flex;
//   flex-direction: row;
//   position: relative;
// }
  
