.hstack {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vstack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tall {
  height: 100%;
}

.wide {
  width: 100%;
}

.vstretch {
  min-height: 100%;
  // ju
}

.mstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zstack {
  display: flex;
  flex-direction: row;
  position: relative;
}
  
