@import "$/body/preamble.scss";

.wrap {
  width: 100%;
  position: relative;
}

.input {
  // @include font-body-regular;

  width: 100%;
  margin: 0;
  padding: 0px 16px;
  height: 48px;
  line-height: 48px;

  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  border-radius: 4px;
  border: 1px solid var(--line-default);
  background-color: var(--background-higher);

  color: var(--text-primary);

  ::placeholder {
    color: var(--text-gray);
  }

  &:focus, &:active {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--text-primary);
  }
}

.hasError {
  border: 1px solid var(--color-error);
}

.passwordInput {
  padding: 0px 64px 0px 16px;
}

.button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--text-disabled);

  &:hover {
    fill: var(--color-brand);
  }
}

