.tbd {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;

  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: #333;
  color: #ccc;
  font-weight: 700;
  font-size: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75) inset;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
