@import "$/style/preamble.scss";

.menu {
  width: 100%;
  background-color: var(--background-default);
  padding: 0px 16px;
}

.group {

}

.title {
  padding: 12px 0px 8px;

  @include font-small-medium;
  color: var(--text-gray);
}

.noTitle {
  height: 20px;
}

.well {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  border-radius: 4px;
  border: 1px solid var(--line-default);
  background: var(--background-higher);
}

.item {
  width: 100%;
  position: relative;
  @include font-body-regular;
  color: var(--text-primary);
  padding: 16px;

  &:hover {
    background-color: var(--background-hover);
  }

  &:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    height: 1px;
    background-color: var(--line-default);
    width: calc(100% - 32px);
  }
}

