.divider {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  
  color: var(--hakina-divider-color);
}

.line {
  width: 1px;
  height: 1px;
  flex: 1 1 auto;
  background-color: var(--hakina-divider-color);
}
