@import "$/body/preamble.scss";

.tabs {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab {
  height: 40px;
  flex: 1 1 0;

  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  // @include font-body-regular;
  color: var(--text-gray);
  box-shadow: 0px -1px 0px 0px var(--line-default) inset;
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline);
  }
}

.active {
  // @include font-body-medium;
  color: var(--color-brand);
  box-shadow: 0px -2px 0px 0px var(--color-brand) inset;
}


