@import "$/body/preamble.scss";

.heading2 {
  @include font-heading-2;
}

.heading3 {
  @include font-heading-3;
}

.paragraph {
  @include font-body-regular;
}

.caption {
  @include font-caption-regular;
}


.centered {
  text-align: center;
}

.secondaryText {
  color: var(--text-secondary);
  fill: var(--text-secondary);
}

.errorText {
  color: var(--color-error);
  fill: var(--color-error);
}

.brandText {
  color: var(--color-brand);
  fill: var(--color-brand);
}
