@use "sass:color";
@import "$/style/preamble.scss";

.button {
  @include font-body-medium;
  padding: 0px;
  background: none;
  border: none;
  width: 100%;
}

.inline {
  width: auto;
}

.primary {
  --button-main: var(--color-brand);
  --button-hover: var(--color-hover);
  --button-on-main: var(--text-inverse);
  --button-transparent: color.change(var(--color-brand), $alpha: 0);

  &:disabled {
    --button-main: var(--color-disabled);
    --button-hover: var(--color-disabled);
    --button-transparent: color.change(var(--color-disabled), $alpha: 0);
  }
  // background: var(--button-main);
  // color: var(--button-on-main);
  // border: 0px solid var(--button-main);
}

.secondary {

}

.neutral {

}

.error {

}

.warning {

}

.success {

}

.info {

}

.inner {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
}

.small {

}

.medium {
  height: 32px;
  line-height: 32px;
}

.large {
  height: 48px;
  line-height: 48px;  
}




.fill {
  @include animated;
  background: var(--button-main);
  color: var(--button-on-main);
  border: 0px solid var(--button-main);

  .button:hover & {
    background: var(--button-hover);
  }
}

.ghost {
  @include animated;
  background: var(--button-transparent);
  color: var(--button-main);
  border: 0px solid var(--button-transparent);

  .button:hover & {
    color: var(--button-hover)
  }
}

.outline {
  @include animated;
  background: var(--button-transparent);
  color: var(--button-main);
  border: 1px solid var(--button-main);

  .button:hover & {
    color: var(--button-hover);
    border: 1px solid var(--button-hover);
  }
}



