.label {
  display: inline-block;
  font: var(--prism-label-font);
  line-height: var(--prism-label-line-height);
  color: var(--prism-label-color);
  background: var(--prism-label-background);
  padding: var(--prism-label-padding);
  border-radius: var(--prism-label-radius);

}