.card {
  border-radius: 8px;
  border: 1px solid var(--line-default);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
  background: var(--background-higher);
  width: 100%;

  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {

}

