@use "sass:color";
@import "$/body/preamble.scss";

.logoButton {
  // @include font-body-medium;
  width: 40px;
  height: 40px;
  padding: 4px;
  
  background: var(--background-higher);
  border: 1px solid var(--line-default);
  border-radius: 4px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0px;
  width: 32px;
  height: 32px;
}

